@font-face {
  font-family: 'poppins-regular';
  src: url('fonts/poppins-regular.ttf') format('truetype');
}


@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-regular: "poppins-regular", "sans-serif";

  --text-*: initial;
  --text-sm: 0.9rem;
  --text-sm--line-height: 1rem;
  --text-base: 1.125rem;
  --text-base--line-height: 1.5rem;
  --text-md:1.35rem;
  --text-md--line-height: 1.5rem;
}


@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "my-theme-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(96.48% 0.017 17.46);
  --color-base-200: oklch(98.18% 0.009009553482392496 34.30327182035201);
  --color-base-300: oklch(91.45% 0.039 17.89);
  --color-base-content: oklch(27.11% 0.039 39.93);
  --color-primary: oklch(93.68% 0.03200956182285715 15.361930351486542);
  --color-primary-content: oklch(38.96% 0.0617 40);
  --color-secondary: oklch(85% 0.199 91.936);
  --color-secondary-content: oklch(12% 0.042 264.695);
  --color-accent: oklch(93.68% 0.03200956182285715 15.361930351486542);
  --color-accent-content: oklch(27% 0.105 12.094);
  --color-neutral: oklch(80.38% 0.111 15.65);
  --color-neutral-content: oklch(12% 0.042 264.695);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;

  --my-shadow: 0 0 6px oklch(70% 0.039 39.93);
}

@plugin "daisyui/theme" {
  name: "my-theme-dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


@layer components {

  .box-container {
    @apply
      max-w-[85%]
      mx-auto
      md:max-w-[85%]
      md:mx-auto
      lg:w-[80%]
      lg:max-w-[1100px]
      lg:mx-auto
  }
}

@source "../components/";


.box-shadow {
  filter: drop-shadow(0 0 0.25rem #afaead);
}

/* Remove input number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}